
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
        <header>
			<h1>Cookie Policy</h1>
		</header>
	<article>
    <p> This is cookie policy for Book Forum </p> <br>
    <a href = "/furtherCookiePolicy">Cookie Policy</a><br>
    <button id = "option"><a href = "/cookies:accept">Accept All</a></button><br>
    <button id = "option"><a href = "/cookies:accept">Essential Cookies</a></button><br>
	</article>
    </body>

</html>