
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
        <header>
			<h1>Cookie Policy</h1>
		</header>
	<article>
    <h2> This is cookie policy for Book Forum </h2>
	<h3> What are cookies? </h3>
	<p>Cookies are simple text files that are stored
		on your computer or mobile device by a website’s server.
 		Each cookie is unique to your web browser.
 		It will contain<br> some anonymous information such as a unique 
		identifier, website’s domain name, and some digits and numbers.
	</p>
	<h3> What types of cookies do we use? </h3>
	<h4>Required Cookies</h4>
	<p>We only use cookies that are essential for the functioning of this website.<p>
	<h3>Deleting Cookies</h3>
	<p>If you do not want use of the cookies on this website, you can manage them in the cookie settings.</p>
	<h3>If you want to go back to accepting cookies, click here</h3>
	<a href = "/CookiePolicy">Cookie Policy</a><br>
	</article>
    </body>

</html>