
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
		<script type = "module" src = "/markdown.js" defer></script>
	</head>
	<body>
		<header>
		<h1>Log In</h1>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/register">Register</a></li>
			<ul>
		</header>
		<main>
			<fieldset>
            	<legend>Log into your account</legend>
           		<form action="/login" method="post">
                	<label>Username: <input type="text" name="username" required/></label><br>
                	<label>Password: <input type="password" name= "password"  required/></label><br>
            		<label><input type = "submit" name="submit" /></a></label>
            	</form>
        	</fieldset>
		</main>
	</body>
</html>
